
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Add Vendors and Orders for the Bakery</p>
        <a asp-controller="Vendor" asp-action="Index" class="btn btn-success" style="width:150px">Vendors</a>
        <a asp-controller="Order" asp-action="Index" class="btn btn-success" style="width:150px">Add Order</a>
</div>
