
@{
    ViewData["Title"] = "Index";
}

@model Order

<h1>Orders</h1>

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-light">Create Vendor</h2>
        </div>
        <div class="mb-3">
            <label asp-for="BreadOrder">Bread Order</label>
            <input asp-for="BreadOrder" class="form-control" />
            <span asp-validation-for="BreadOrder" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PasteryOrder">Pastery Order</label><br />
            <input asp-for="PasteryOrder" class="form-control" rows="3"></input>
            <span asp-validation-for="PasteryOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success" style="width:150px">Add Order</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To Home</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}