@model Order


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-light">Edit Vendor</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Name">Bread Order</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BreadOrder">Vendor Name</label>
            <input asp-for="BreadOrder" class="form-control" />
            <span asp-validation-for="BreadOrder" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PasteryOrder">Vendor Description</label><br />
            <textarea asp-for="PasteryOrder" class="form-control" rows="3"></textarea>
            <span asp-validation-for="PasteryOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success" style="width:150px">Update Order</button>
        <a asp-controller="Order" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

